<div class="container-central">
<p>
  <strong>Forename:</strong>
  <%= @employee.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

</div>

<%= link_to 'Back to employees List', company_employees_path(@company) %>
<br>
</br>
<%= link_to 'Edit', edit_company_employee_path(@company, @employee) %>
