<div class="container-central">
<p>
  <strong>Forename:</strong>
  <%= @employee.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

</div>

<%= link_to 'Back to employees List', employees_path %>
  
