<body class="container welcome">
<h1>Welcome to the app</h1>
<%= link_to 'Create New Company', new_company_path %>
<br>
</br>
<%= link_to 'Create New Employee', new_employee_path %>
<br>
</br>
<%= link_to 'All Employees', controller: 'employees' %>
<br>
</br>
<%= link_to 'All Companies', controller: 'companies' %>
</body>
