<div class="container-central">
<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Company Details:</strong>
  <%= @company.details %>
</p>



<%= link_to 'Back to companies List', companies_path %>
<br>
</br>
<%= link_to 'Home', root_path %>
</div>
